<button (click)="clicked()">Click me!</button>
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>banner works!</p>`
<p>{{message}}</p>`
